.index-center-box{width:90%;min-height: 350px;}
.index-center-box h1{color:#0b70be;height:50px;line-height: 65px;}
.index-center-box img{width:200px;height:200px;margin-top:40px;}
.index-center-box p{line-height: 25px;text-align: left;}
/**flip*/
.filp-container ul{width:100%;display: inline-block;}
.filp-container ul li {width: 33.3%;min-height: 350px;margin-top:15px;display: inline;-webkit-perspective: 1000px;-moz-perspective: 1000px;float: left; } 
.out-box{width:95%;min-height: 350px;position: relative;-webkit-transform-style: preserve-3d;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-transition: 0.5s;-moz-transition: 0.5s;-o-transition: 0.5s;-ms-transition: 0.5s;transition: 0.5s;-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;backface-visibility: hidden;margin:0 auto;} 
.out-box div{ width:100%;display: block;position: absolute;left: 0;top: 0;text-align: center; -webkit-backface-visibility: hidden;-moz-backface-visibility:hidden;backface-visibility: hidden;} 
.out-box .front-box{border:1px solid #ddd;z-index: 2;} 
.out-box .back-box{border:1px solid #ddd;background-color:#d9edf7;z-index: 1;-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);transform: rotateY(180deg); } 

.filp-container ul li:hover .out-box{-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);transform: rotateY(180deg);} 
.filp-container ul li:hover .back-box{z-index: 3; } 